@import "@fontsource/kanit";
@import "@fontsource/raleway";

.registerPage {
  background: linear-gradient(
    90deg,
    rgba(238, 234, 245, 1) 0%,
    rgba(242, 239, 235, 1) 93%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 850px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.registerImage {
  flex: 1;
  background: url("../../../todo-app/public/images/register1.jpg")
    no-repeat center;
  background-size: cover;
  min-height: 450px;
  transition: all 0.3s ease-in-out;
}

.registerContainer .registerForm {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.registerFormBox {
  width: 70%;
  max-width: 300px;
}

.registerFormBox h4 {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  /* margin-bottom: 20px; */
  font-family: "Kanit", sans-serif;
}

.registerPage .registerButton {
  width: 100%;
  padding: 12px;
  background-color: rgb(89, 64, 250);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease-in-out;
  margin-top: 0.8rem;
}

.registerPage .registerButton:hover {
  background-color: rgb(72, 50, 200);
  transform: scale(1.05);
}

.loginLink {
    text-align: center;
    color: rgb(89, 64, 250);
    text-decoration: none;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin-top: 112px;
  }
  
  .loginLink:hover {
    text-decoration: underline;
  }

@media (max-width: 1024px) {
  .registerContainer {
    max-width: 700px;
  }

  .registerForm {
    padding: 30px;
  }

  .registerFormBox {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .registerPage .registerContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 100%;
    border-radius: 12px;
  }

  .registerPage .registerImage {
    width: 100%;
    height: 100%;
  }

  .registerPage .registerForm {
    width: 90%;
    padding: 20px;
  }

  .registerForm .registerFormBox {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .registerPage {
    padding: 10px;
    margin-top: 20px;
  }

  .registerPage .registerContainer {
    width: 95%;
    border-radius: 10px;
    box-shadow: none;
  }

  .registerPage .registerContainer .registerImage {
    min-height: 350px;
  }

  .registerPage .registerContainer .registerForm {
    padding: 15px;
  }

  .registerForm .registerFormBox {
    width: 96%;
    max-width: 100%;
  }

  .registerFormBox h4 {
    font-size: 1.5rem;
  }

  .registerPage .registerButton {
    font-size: 14px;
    padding: 10px;
  }
}
